/* Splash screen */
.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Viewport width for responsiveness */
  height: 100vh; /* Viewport height for responsiveness */
  background: radial-gradient(500.56% 101.36% at 50% 50%, #92E8FB 0%, #FFE0EE 52%, #FBA4B1 100%);
}

/* Soma logo */
.logo {
  font-family: 'Inter', sans-serif; /* Add a fallback font */
  font-weight: 500;
  font-size: 48.83px; 
  line-height: 44px; 
  background: linear-gradient(90deg, #2E99B0 0%, #F96DB5 50.1%, #FA8495 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}